/* Soon pagina*/
.soon-page{
    width: 100%;
    height: 100vh;
}
/* */

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
/*  Navbar*/

.navbar-position{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
}
/*  header*/

.header{
    background-image: url('/img/background1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
}



/* LOB Opdrachten*/


/*Contact*/

.icons a{
    display: inline-block;
    color: white;
    transition: transform 0.5s;
}

.icons a:hover{
    color: #bdc6d2;
    transform: translateY(-5px);
}

/*Projecten*/
.project div{
    background: #262626;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
}


.project div:hover{
    background: #006ff7;
    transform: translateY(-10px)
}

.ul-list{
    list-style: none;
}

.width{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.top-rounder:hover{
    cursor: pointer;
    opacity: 0.7;
}
@media screen and (max-width: 950px) {

    .learning-goal{
        display: none;
    }

  }

@media screen and (max-width: 600px) {
    .header{
        background-image: url('/img/my-imga.png');
        background-color: black;
        background-size: cover;
        background-position: center;
        width: 100%; 
        height: 80%; 
        padding: 100px;
    }

    .titel-header{
        padding: 0px;
        font-size: 50px;
        font-weight: bold;
    }

    .header-text{
        font-weight: bold;
    }

    .learning-goal{
        display: none;
    }



  }






