/* Soon pagina*/
.soon-page{
    width: 100%;
    height: 100vh;
}
/* */

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
/*  Navbar*/

.navbar-position{
    position: fixed;
    background-color: white;
    width: 100%;
}
/*  header*/

.header{
    background-image: url('/img/background1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
}



/* LOB Opdrachten*/


/*Contact*/

/*Projecten*/
.project div{
    background: #262626;
    transition: background 0.5s, transform 0.5s;
}


.project div:hover{
    background: #006ff7;
    transform: translateY(-10px)
}

@media screen and (max-width: 600px) {
    .header{
        background-image: url('/img/my-imga.png');
        background-color: black;
        background-size: cover;
        background-position: center;
        width: 100%; 
        height: 80%; 
        padding: 100px;
    }

    .titel-header{
        padding: 0px;
        font-size: 50px;
        font-weight: bold;
    }

    .header-text{
        font-weight: bold;
    }

  }





